<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
</head>
<!--add bootstrap\css\bootstrap.min.css-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
<!-- add bootstrap class -->


<div class="container">
    <!--create a calculator input together with maths functions buttons-->
    <div class="row">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 text="'Hello, World!'"></h1>
        </div>
        <div class="col-md-12">
            <h1 text="'Hello, World!'"></h1>
        </div>
        <div class="col-md-12">
            <h1 text="'Hello, World!'"></h1>
        </div>
    </div>
    <h1 text="'Index!'"></h1>
</div>

</body>
</html>
